- if @fabric.prices.empty?
 %h4 No Price Information Available
- else
 %table
  %th Date
  %th Price
  %th Creator
  %th Updater
  - @fabric.prices.order('date desc').all.each do |f|
   %tr
    %td= mmddyy_date( f.date )
    %td= number_to_currency(cents_to_dollars(f.amount), :precision => 2)
    %td= f.creator.username
    %td= f.updater.username

