%div.span2
 = render 'shared/sidebar_menu'
%div.span10
 %h1 New Order 
 = render 'form'

 - if current_user.username == 'joel'
  %h5{:style=>'color:red;'} Note to Joel 
  %ul
   %li{:style=>'color:red;'} Multiple products per order
   %li{:style=>'color:red;'} Customer name check; if repeat customer, dont duplicate
   %li{:style=>'color:red;'} Default date?  No dates of past
   %li{:style=>'color:red;'} Set ispaid to true, if needed
   %li{:style=>'color:red;'} Decrement inventory count 
