#headlinks
 - if current_user
  %span
  = "Hi, #{current_user.username}"
  %span
   |
  = link_to 'Change Password', edit_user_path(current_user.id)
  %span
   |
  = link_to 'Logout', :logout
 - else
  not logged in.
