#under_contruction{:style=>"width=>100%;border=>solid 1px blue;"}
 #c7{:style=>"margin:20px;width=>70%;border=>solid 1px #acc;"}
  = image_tag "uNido_background_wBorder.jpg", :id => 'incubation_jpg', :style => 'width:100%;border=>solid 1px yellow;'
  %canvas{:width=>'500', :height=>'500', :id=>'c8', :style=>'border:solid 2px orange;' }
:javascript
 var c8 = document.getElementById("c8");
 var c8_context = c8.getContext("2d");
 var img = document.getElementById("incubation_jpg");
 /*c8_context.drawImage(img, 0, 0);*/

 function draw_rectangle() {
  alert('x 1');
  c8_context.shadowBlur = 30;
  alert('x 2');
  c8_context.shadowColor = "Gray";
  alert('x 3');
  c8_context.fillRect(20, 20, 300, 300);
  alert('x 4');
  /*
  c8_context.drawImage(img, 0, 0);

  c8_context.shadowOffsetX = 15;
  c8_context.shadowOffsetY = 15;
  c8_context.shadowBlur = 30;
  c8_context.shadowColor = "Gray";
  c8_context.fillStyle = "Gold";
  c8_context.fillRect(20, 20, 100, 120);
  */
 } 
 
 window.onload = draw_rectangle();
 alert('y 1'); 
 c8_context.drawImage(img, 0, 0);
 alert('y 2 img: ' + img);
