#under_construction{:style=>'margin-left:10px;'}
 /= image_tag "uNido_background_wBorder.jpg", :style => 'width:100%;'
 /= image_tag "uNido_background.jpg", :style => 'width:100%;'
 %br
 %br
 = link_to 'One', incubating_one_path
 %br
 = link_to 'Two', incubating_two_path
 %br
 = link_to 'Three', incubating_three_path
 
