#scan_column
 = render 'shared/sidebar_menu'
#content_area
 = render 'single'
 - if can? :edit, Order 
  = link_to 'Edit', edit_customer_order_path(@order.customer, @order)
 - if can? :read, Order 
  \|
  = link_to 'Back', orders_path
