<h1>Edit email</h1>

<form id="edit-email" name="email">
  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="field">
    <label for="email_type_id"> email_type_id:</label>
    <input type="text" name="email_type_id" id="email_type_id" value="<%= email_type_id %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Email" />
  </div>

</form>

<a href="#/index">Back</a>
