<h1>Emails</h1>

<table id="emails-table">
  <tr>
    <th>Content</th>
    <th>Email type</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Email</a>
