<p>
  <b>Content:</b>
  <%= content %>
</p>

<p>
  <b>Email type:</b>
  <%= email_type_id %>
</p>

<p>
  <b>Created at:</b>
  <%= created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= updated_at %>
</p>


<a href="#/index">Back</a>