%div.span2
 = render 'shared/sidebar_menu'
%div.span10
 %h1 Editing Task Status Type
 = render 'form'
 - if can? :read, Product
  = link_to 'Show', @task_status_type
  \|
  = link_to 'Back', task_status_types_path

