@import "bootstrap";
                   
$skyblue: #3bbfce;
$blue: #0101DF;
$babyblue1: #c6dbfe;
$babyblue2: #a0bff4;
$navyblue: #395f96;
$gray: #f1f1f1;
$dark_gray: #333333;
$salmon: #f58869;
$lavendar: #D1B5D7;
$taupe: #D7CAB4;
$red: #F80505;
$white: #fff;
$violet: #270A6B;
$yellow: #efedbf;
$olive: #2E5A08;
$pink: #F9B7FF;
$threepx: 3px;
$fivepx: 5px;
$tenpx: 10px;
$fifteenpx: 15px;

#notice {
  color: #008000; 
  padding: 5px;
  background-color: #98FF98;
  border: 1px #008000 solid;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.red_font {
  color: red;
}     
.red_area {
  padding: 5px;
  background-color: #f6cece;
  border: 1px red solid;
}  
#headlinks {
 color:#483985;
 margin:9px 0 0 0;
 position:absolute;
 right:5px;
 text-align:right;
 z-index:1001;
 span {
  color:#000;
  display:inline-block;
  margin:0 4px 0 4px;
 }
 a {
  &:link, &:visited {
   color:#808083;
   margin:0 1px 0 1px;
   text-decoration:none;
  }
  &:hover {
   background-color:$skyblue;
   color:#000;
  }
 }
}


/* Sidenav for Docs
-------------------------------------------------- */
.bs-docs-sidenav {
  //width: 200px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}    
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
  /* background-color: #0088cc; */  
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
#footer {
 line-height:20px;
 text-align:left;
 width:100%;
 z-index:2;
 a {
  text-decoration:none;
  &:link, &:visited {
   color:$salmon;
  }
  &:hover {
   color:$red;
   background-color:$gray;
   text-decoration:underline;
  }
 }
}
#footer_text {
 font-size:11px;
 margin:20px auto;
 padding-left:20px;
 width:980px;
 strong {
  color:$skyblue;
  margin-right:6px;
  font-weight:normal;
 }
}
#footer_city {
 /*background-image:url(/images/_sprite_main.png); */
 background-position:0px -408px;
 height:134px;
}
.small_red_italics {
 position:relative;
 top:-10px;
 left:10px;
 color: $red;
 font-size:10px;
 font-style:italic;
}
.open_another_item {
 cursor:pointer;
 float:right;
 color: red;
 display: inline;
 &:hover {
  color: #fff;
  background-color: #000;
 }
} 
table.tablesorter {
 margin:10px 0pt 15px;
 width: 100%;
 text-align: left;
 thead tr th, tfoot tr th {
  padding: 4px;
 }
 thead tr { 
  .header {
   background-image: url(bg.gif);
   background-repeat: no-repeat;
   background-position: center right;
   cursor: pointer;
  }
  .headerSortUp {
   background-color: #8dbdd8;
   background-image: url(asc.gif);
  }
  .headerSortDown {
   background-color: #8dbdd8;
   background-image: url(desc.gif);
  }
 }    
 tbody td {
  //color: #3D3D3D;
  padding: 4px;
  //background-color: #FFF;
  vertical-align: top;     
  border-top: 1px solid #D0D0D0;
 }
 
 tbody tr.odd td {
  background-color:#F9F9F9;
 }
  
}

