$skyblue: #3bbfce;
$gray: #f1f1f1;
$salmon: #f58869;
$lavendar: #D1B5D7;
$taupe: #D7CAB4;
$red: #F80505;
$violet: #270A6B;
$yellow: #efedbf;
$olive: #2E5A08;

body {
  background-color:#f1f1f1; 
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.red_font {
  color: red;
}
#wrapper {
 margin: 0 auto;
 position:relative;
 width:1250px;
 z-index:200;
}
#masthead {
 background-color:$taupe;
 height:170px;
 width:1250px;
}
#logo {
 /*background-image:url(/images/_sprite_main.png); */
 /*background-repeat:none; */
 background-color:$lavendar;
 background-position:0px -270px;
 cursor:pointer;
 display:inline-block;
 float:left;
 height:103px;
 left:52px;
 position:relative;
 top:20px;
 width:267px;
}
#content_container {
 background-image:url('bg_content_grad.png');
 background-repeat:repeat-x;
 left:0px;
 margin-bottom:50px;
 padding:15px 10px 20px 10px;
 position:relative;
 top:-5px;
 width:1230px;
}
#content {
 background-color:white;
 left:150px;
 min-height:700px;
 padding: 20px 10px 20px 20px;
 position:relative;
 width:1045px;
}
#scan_column {
 color:black;
 min-height:500px;
 padding:22px 0 0 0;
 position:absolute;
 width:140px;
 z-index:3;
 hr {
  display:none;
 }
 div.hr {
  border-top:dashed 1px #999;
  display:inline-block;
  height:1px;
  margin:18px 0 18px 0;
  width:162px;
 }
 a {
  &:hover {
   color:black;
  }
 }
 ul {
  padding:0;
  margin:0 0 20px 0;
  div.subnav_group {
   border-bottom:5px solid #c0c0c0;
   position:relative;
   top:-1px;
  }
  li {
   border-bottom:dashed 1px #999;
   line-height:18px;
   list-style-type: none;
   padding:5px 0 5px 0;
   width:140px;
   a {
    &:link, &:visited {
     color:$violet;
     font-size:14px;
     text-decoration:none;
    }
    &:hover {
     color:$yellow;
     background-color:$gray;
    }
    &:active {
     color:$olive;
     background-color:$yellow;
    }
   }
  }
  ul {
   li {
    a {
     &:link, &:visited {
      color:#000;
      text-decoration:none;
      font-size:13px;
     }
     &:hover {
      color:#6D8D24;
     }
     &:active {
      color:#000;
      font-size:14px;
      text-decoration:none;
     }
    }
   }
  }
 }
}
#footer {
 line-height:20px;
 text-align:left;
 width:100%;
 z-index:2;
 a {
  text-decoration:none;
  &:link, &:visited {
   color:$salmon;
  }
  &:hover {
   color:$red;
   background-color:$gray;
   text-decoration:underline;
  }
 }
}
#footer_text {
 font-size:11px;
 margin:20px auto;
 padding-left:20px;
 width:980px;
 strong {
  color:$skyblue;
  margin-right:6px;
  font-weight:normal;
 }
}
#footer_city {
 /*background-image:url(/images/_sprite_main.png); */
 background-position:0px -408px;
 height:134px;
}
#headlinks {
 color:#483985;
 margin:9px 0 0 0;
 position:absolute;
 right:5px;
 text-align:right;
 z-index:1001;
 span {
  color:#000;
  display:inline-block;
  margin:0 4px 0 4px;
 }
 a {
  &:link, &:visited {
   color:#808083;
   margin:0 1px 0 1px;
   text-decoration:none;
  }
  &:hover {
   background-color:$skyblue;
   color:#000;
  }
 }
}
