:javascript
 $().ready(function() {
  $("#new_product_form").validate({
   rules: {
    'product[name]': { required: true },
    'product[description]': { required: true },
    'product[price]': { required: true, min: 1 },
    'product[count]': { required: true, digits: true },
    'product[sewings_attributes][0][fabric_id]': { required: true }
   },
   messages: {
    'product[price]': { min: "Please a valid dollar amount." },
    'product[sewings_attributes][0][fabric_id]': { required: "Please select at least one fabric." }
   },
   submitHandler: function(form) {
    $('input[type=submit]').attr('disabled', 'disabled');
    form.submit();
   },
   invalidHandler: function() {
    $('input[type=submit]').removeAttr('disabled')
   }
  });
 });

#scan_column
 = render 'shared/sidebar_menu'
#content
 %h1 Editing product
 = render 'form'
 - if can? :read, Product
  = link_to 'Show', @product
  \|
  = link_to 'Back', products_path
