:javascript
 $().ready(function() {
  $("#new_product_form").validate();
 });

#scan_column
 = render 'shared/sidebar_menu'
#content
 %h1 Editing product
 = render 'form'
 - if can? :read, Product
  = link_to 'Show', @product
  \|
  = link_to 'Back', products_path
