%div.span2
 = render 'shared/sidebar_menu'
%div.span10
 %h1 New Product
 = render 'form'
 - if can? :read, Product
  = link_to 'Back', products_path

:javascript
 //$("#fabric_1").parent().css('background-color', 'yellow')
 //$("#fabric_2").hide();
 //$("#additional_fabric_0").bind 'click', (event) =>
 // console.log 'add_fabric_0 was clicked'
 
