%div.row
 %div.span11.offset1
  %br
  = render :partial => 'form'
                                                                                                                                                                                    
  %br
  %br
  %br       
  = render :partial => 'shared/weather'