#footer
 %br 
 %br
 %p{ :style => "width:960px;margin:0 auto;font-size:11px;" }
  %span{ :style => "color:#6D8D24;" }
   &copy; 2013 uNido In Oakland, Inc.
  Some fine print.  Some fine print.  Some fine print.  Some fine print.
