#scratch_space.end_to_end_width.wide_margin
 #space_1.ninety_pct_width.salmon_background.medium_margin
  #space_1a.ninety_pct_width.yellow_background.thin_height.thin_margin
  #space_1b.ninety_pct_width.yellow_background.thin_height.thin_margin
 #space_2.ninety_pct_width.salmon_background.medium_margin
  #space_2a.ninety_pct_width.yellow_background.thin_height.thin_margin
  #space_2b.ninety_pct_width.yellow_background.thin_height.thin_margin
