<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>uNido Scarves</title>
=======
  <title>Unido Scarves</title>
>>>>>>> production/master
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<<<<<<< HEAD
<body style="margin:0px;">
=======
<body>

>>>>>>> production/master
<%= yield %>

</body>
</html>
