<!DOCTYPE html>
<html>
<head>
  <title>uNido Scarves</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="margin:0px;">
<%= yield %>

</body>
</html>
